#UTF-8 {
    background-color: Tomato;
    color: rgb(10, 124, 124);
    height: 100%;
}
#content {
  width: 300px;
  color: rgb(65, 9, 9);
  width: 100%;
  background-color:hsla(9, 100%, 64%, 0.5);
}

#bio{   
    max-width:100%;
}

#tv-show-container {
	margin-top: 20px;
	width: 50%;
  border:2px solid rgb(59, 170, 221);
}
#fact-container {
	margin-top: 20px;
	width: 50%;
  border:2px solid rgb(155, 12, 155);
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/myphoto.jpeg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}